@charset "UTF-8";

/* ------------------ input number 화살표 지우기 ---------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance : none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance : textfield;
}

/* ---------------------------------------------------------------*/

.loginForm {
	display: flex;	
	justify-content: center;
}

.accountForm {
	display: flex;	
	justify-content: center;
}

.depositForm {
	display: flex;	
	justify-content: center;
}