<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Paper Bank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
</head>

<body>
<!-- // container -->
<div class="container">

	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<div class="jumbotron">
		<h1>계정 정보</h1>
		<div id="userInfo">
			<form id="content" role="form">
				<div class="form-group">
					<label for="userId">userId :</label>
					<input type="text" id="userId" value="" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="username">username :</label>
					<input type="text" id="username" value=""  readonly="readonly">
				</div>
				<div class="form-group">
					<label for="password">password :</label>
					<input type="password" id="password" value="">
				</div>
				<div class="form-group">
					<label for="fullname">fullname :</label>
					<input type="text" id="fullname" value="">
				</div>
				<div class="form-group">
					<label for="email">email :</label>
					<input type="email" id="email" value="">
				</div>
			</form>
			
			<div>
				<button type="button" class="btn btn-primary" id="userInfoModifyBtn">수정</button>
				<button id="cancelBtn" class="btn btn-danger">취소</button>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container // -->

</body>

</html>