<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Paper Bank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<!-- // container -->
<div class="container">

	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<div class="jumbotron">
		<h1>신규 계좌 생성 폼</h1>
		<form id="accountForm" method="post">
			<div>
				<label for="number">계좌번호</label>
				<input type="text" id="number" name="number" value=""/>
			</div>
			<div>
				<label for="password">비밀번호</label>
				<input type="password" id="password" name="password" value=""/>
			</div>
			<button type="button" id="accountBtn">계좌 생성</button>
		</form>
		
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container // -->

</body>
</html>