<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Paper Bank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<!-- // container -->
<div class="container">

	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<div class="jumbotron">
		<h1>Paper Bank</h1>
		<p class="lead">회원 기능(user)</p>
		<p>
			<a class="btn btn-lg btn-secondary" href="/join">회원 가입</a>
			<a class="btn btn-lg btn-secondary" href="/users">회원 목록</a>
		</p>
		<p class="lead">계좌 기능(account)</p>
		<p>
			<a class="btn btn-lg btn-dark" href="/accounts/new">계좌 등록</a>
			<a class="btn btn-lg btn-dark" href="/accounts">계좌 목록</a>
		</p>
		<p class="lead">입출금 기능(transaction)</p>
		<p>
			<a class="btn btn-lg btn-info" href="/transactions/deposit">입금 하기</a>
			<a class="btn btn-lg btn-info" href="/transactions/withdraw">출금 하기</a>
		</p>
		<p class="lead">로그인/로그아웃</p>
		<p>
			<a class="btn btn-lg btn-primary" href="/login">로그인</a>
			<a class="btn btn-lg btn-success" href="/logout">로그아웃</a>
		</p>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container // -->

</body>
</html>