<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Paper Bank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<!-- // container -->
<div class="container">

	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<div class="jumbotron">
		<h1>Paper Bank</h1>
		<p class="lead">회원 기능(user)</p>
		<p>
			<a class="btn btn-lg btn-secondary" href="/join" th:if="${#request.getCookies() == null}">회원 가입</a>
			<a class="btn btn-lg btn-secondary" href="/users/myinfo" th:if="${#request.getCookies() != null}">회원 정보</a>
			
		</p>
		<p class="lead">계좌 기능(account)</p>
		<p>
			<a class="btn btn-lg btn-dark" href="/accounts/new" th:if="${#request.getCookies() == null}">계좌 등록</a>
			<a class="btn btn-lg btn-dark" href="/accounts" th:if="${#request.getCookies() != null}">계좌 목록</a>
			<a class="btn btn-lg btn-dark" href="/transactions" th:if="${#request.getCookies() != null}">거래 내역</a>
		</p>
		<p class="lead">입출금 기능(transaction)</p>
		<p>
			<a class="btn btn-lg btn-info" href="/transactions/deposit">입금 하기</a>
			<a class="btn btn-lg btn-info" href="/transactions/withdraw">출금 하기</a>
		</p>
		<p class="lead">로그인/로그아웃</p>
		<p>
			<a class="btn btn-lg btn-primary" href="/login" th:if="${#request.getCookies() == null}">로그인</a>
			<a class="btn btn-lg btn-success" href="/logout" th:if="${#request.getCookies() != null}">로그아웃</a>
		</p>
		<label id="loginUser" th:if="${#request.getCookies() != null}"></label>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container // -->

</body>
</html>