<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- reset.css -->
	<link rel="stylesheet" href="./assets/css/reset.css">
	
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
	
	<!-- style.css -->
	<link rel="stylesheet" href="./assets/css/carrot/style.css">
	
	<title>당신 근처의 당근마켓</title>
</head>
<body>
	<!-- 1-1. header 영역-->
	<header>
		<div class="container">
			<a href="#">
				<img src="./assets/img/carrot.JPG" alt="carrot.JPG" >
			</a>
			<nav>
				<ul>
					<li>중고거래</li>
					<li>동네가게</li>
					<li>알바</li>
					<li>부동산직거래</li>
				</ul>
			</nav>
			<div class="search">
				<input placeholder="물품이나 동네를 검색해보세요.">
				<button>채팅하기</button>
			</div>
		</div>
	</header>
	
	<!-- 1-2. hero section -->
	<section class="hero">당신 근처의 당근마켓</section>
	
	<!-- 1-3. 중고 직거래 마켓 -->
	<section>중고 직거래 마켓</section>
	
	<!-- 1-4. 중고거래 인기매물 -->
	<section>중고거래 인기매물</section>
	
	<!-- 1.5. footer 영역 -->
	<footer>푸터</footer>
</body>
</html>