<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
	<title>Paper Bank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<style type="text/css">
		.fieldError {
			border-color: red;
			color: red;
		}
	</style>
</head>

<body>
<!-- // container -->
<div class="container">

	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	
	<div class="jumbotron">
		
		<div class="join-wrapper">
			<h1>Join</h1>
			<form id="join-form" role="form" method="post" >
				
				<input type="text" class="form-control" id="username" name="username" value="" placeholder="username" />
				
				<input type="password" class="form-control" id="password" name="password" value="" placeholder="password" />
				
				
				<input type="email" class="form-control" id="email" name="email" value="" placeholder="email" />
				
				<input type="text" class="form-control" id="fullname" name="fullname" value="" placeholder="fullname" />
				
			</form>
			<div class="joinBtnArea">
				<button type="button" id="joinBtn" class="btn">회원가입</button>
				<button id="joinCancelBtn" class="btn">취소</button>
			</div>
		</div>
		
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- container // -->

</body>
</html>